body
{
padding: 0px;
margin:0px;
width:100%;
}

#header{
background-color:rgb(242, 241, 241);
padding-top: 0px;
background-size: cover;
background-position: center;
}
.container{
margin-top: 10px;

}
.main
{
margin-top: 10px;
font-style: italic;
font-size: 20px;
border-radius: 20px;
}

.main h1{
font-size: 30px;
font-weight: bold;
text-align: center;
background-color: grey;
 }
.text-wrapper{
  background-position: center;
  width:100%;
}
.text-wrapper img{
object-fit: cover;
opacity: 1.0;
transition:opacity 0.6s ease-in-out;
}
.text-wrapper img:hover{
opacity: 0.940;
}
.text-wrapper hr{
  border-color:  red;
  width: 80%;
margin-left: 80px;
margin-right: 20px;
}


.text-wrapper h1{
  text-align: center;
  position: fixed;
  margin-top: -45%;
font-style: normal;
font-family:oblique;
}
.text-wrapper p{

font size:30px;
padding: 10px ;

}
.nav .search{
  float:right;
    padding: 15px ;
    padding-left: 10px;
    margin-top: 10px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.nav ul li i {
    display: block;
    color: white;
    margin-bottom: 10px;
    position: relative;
}
.nav ul li i:hover{
  background-color: grey;
  margin-bottom: 10px;
}
.nav ul li a {
    display: inblock;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    margin-top: 10px;
    float: left;
    opacity: 0.490;
    transition:opacity 0.6s ease-in-out;
}

.nav ul li a:hover {
border-radius: 10PX;
opacity: 1.8;
border-radius: 10px;
background-color: grey;
}
